/*
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

 Colors
 */
$charcoal: #36454f;
$header-color: rgba(21,27,31, 0.8);
$hero-tint: #170303;
$global-green: #52a401;
$button-blue: #3165c0;
$offer-green: $global-green;
$offer-orange: #e19f04;
$offer-blue: #225dca;
$testimonials-grey: #efedef;
$text-dark: $charcoal;
$text-light: #fff;